/* Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Global Style */
html,
body,
div,
h1,
h2,
p,
span,
img,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* General Style */
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 130%;
  letter-spacing: -0.02em;
  margin: 10px;
}
p {
  margin: 10px;
  color: #828282;
  font-size: 20px;
}
li {
  list-style: none;
}
h2 {
  margin: 10px;
  color: #828282;
  font-size: 35px;
  font-weight: bolder;
}
/* nav area sytly */
.nav-link a {
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  margin-left: 45px;
  text-align: center;
  text-transform: uppercase;
}
.nav-link:hover {
  color: #ebc7c7;
  font-weight: 800;
  font-size: 30px;
}
.navbar {
  padding: 35px;
  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);

  width: 100%;
  position: fixed;
}
/* log style */
.logo img {
  position: absolute;
  left: 10px;
  top: 15px;
  border-radius: 5px;
  
}
/* Main banner area */
.container {
  height: 100vh;
  padding-left: 5em;
  padding-right: 5em;
}
.orange-text {
  color: orange;
}
.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.half-width {
  width: 50%;
  margin-left: 20px;
}
/* style for button */
.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  color: #ffff;
  margin: 15px;
  padding: 15px 45px;
  box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
  border-radius: 100px;
  margin-top: 20px;
}
.btn:hover{
  background: linear-gradient(45deg, #fba24f -7.64%, #ff1e1e 145.94%);
  color: #fffa;
}
/* style for gradiant button */
.btn-gradient1{
  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
}
.btn-gradient2{
  background: linear-gradient(-88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
}
/* contact from */
.contact-area{
  text-align: center;
  padding-top: 200px;
  text-transform: capitalize;
}
.contact-area input{
  width: 50%;
  border: 2px solid orangered;
  margin: 10px 0;
  padding: 10px;
  font-size: 30px;
  text-transform: capitalize;
  border-radius: 5px;
}
.contact-area #submit{
  background-color: orangered;
  
}
/* about me */
.about-me {
  background-image: url(/img/7.png);
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

.about-banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.about-me-text > .btn {
  margin-top: 100px;
}

/* recipies section */
.my-recipies
{
  text-align: center;
  text-transform: capitalize;
}
.recipies-area{
  padding-top: 160px;
  font-size: 40px;
  font-weight: 800;
  height: 100vh;
}
.recipies-items {
  display: flex;
  margin: 100PX;
  align-items: center;
  width: 10xp;
  flex-wrap: wrap;
 
}
.recipies-card {
  max-width: 300px;
  height: 400px;
  margin-top: 20px;
  margin-left: 100px;
  padding: 40px;
  overflow: hidden;
  border-radius: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.recipies-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 40px;
}
.recipies-text {
  width: 100%;
  height: auto;
}

/* social-link style */
.social-link {
  margin: 50px;
  height: auto;
  border-radius: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.social-card {
  max-width: 300px;
  height: 400px;
  margin: 100px;
  padding: 40px;
  overflow: hidden;
  text-align: center;
}
.social-icon img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 40px;
}

/* footer style */
.footer-area {
  color: #ffffff;
  background: #0b0d17;
  text-align: center;
  padding: 100px;
}
.footer-area span {
  color: #ff1e1e;
}
