/* Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Global Style */
html,
body,
div,
h1,
h2,
p,
span,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* General Style */
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 130%;
  letter-spacing: -0.02em;
  margin: 10px;
}
p{

margin: 10px;
color: #828282;
font-size: 20px;
}
h2{

  margin: 10px;
  color: #828282;
  font-size: 35px;
  font-weight: bolder;
  }
.container {
  height: 100vh;
  padding-left: 5em;
  padding-right: 5em;
}
.orange-text {
  color: orange;
}
.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.half-width {
  width: 50%;
  margin-left:  20px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  margin: 15px;
  padding: 15px 45px;
  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
  box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
  border-radius: 100px;
  margin-top: 20px;
}
.about-me{
  background-image: url(/img/7.png);
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;

}

.about-banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 
}
.about-me-text > .btn{
  margin-top: 100px;
}
.recipies-items{
  display: flex;
  align-items: center;
  width: 10xp;
  flex-wrap: wrap;
  
}
.recipies-card{
  max-width: 300px;
  height: 400px;
  margin: 100px;
  padding: 40px;
  overflow: hidden;
  border-radius: 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
 .recipies-image img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 40px;
  
}
recipies-text{
  width: 100%;
  height: auto;
 
}
